<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define MathCheat bean -->
    <bean id="mathStudyObjectValue" class="com.home.sabir.spring.DependencyInjection.ConstructorBased.MathStudy"></bean>

    <!-- Define Student bean with Constructor Injection -->
    <bean id="student" class="com.home.sabir.spring.DependencyInjection.ConstructorBased.Student">
        <constructor-arg name="id" value="101"/>
        <constructor-arg name="mathStudy" ref="mathStudyObjectValue"/>
    </bean>

</beans>